desktop.ini
*.tmp
~$*
.env
*.key
credentials.*
node_modules/
__pycache__/
*.pyc

# Local Netlify folder
.netlify

# 忽略大型二进制课件文档和压缩包
*.pptx
*.ppt
*.docx
*.doc
*.xlsx
*.xls
*.pdf
*.zip
*.rar
*.7z
*.mp4
*.mp3

